DatabaseConsistencyCheckers:
  MissingIndexChecker:
    enabled: true
  ColumnPresenceChecker:
    enabled: false
  LengthConstraintChecker:
    enabled: false
  NullConstraintChecker:
    enabled: false
  UniqueIndexChecker:
    enabled: false
  BelongsToPresenceChecker:
    enabled: false
  MissingUniqueIndexChecker:
    enabled: false
  PrimaryKeyTypeChecker:
    enabled: false
  ForeignKeyTypeChecker:
    enabled: false
  RedundantIndexChecker:
    enabled: false
  RedundantUniqueIndexChecker:
    enabled: false
